appdirs==1.4.4
asgiref==3.2.10
backcall==0.2.0
certifi==2020.11.8
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.5
django-bootstrap4==2.3.1
django-heroku==0.3.1
django-on-heroku==1.1.2
django-smtp-ssl==1.0
filelock==3.0.12
gunicorn==20.0.4
parso==0.7.1
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.8
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pygame==2.0.0
pyte==0.8.0
python-dateutil==2.8.1
virtualenv==20.1.0
virtualenv-clone==0.5.4
wcwidth==0.2.5
whitenoise==5.2.0
win-unicode-console==0.5
