{% extends "base.html" %}

{% load static %}
{% block content %}






    <section id="main-content">
        <section class="wrapper"style="background-color:white">
          <div class="row">
            <div class="col-lg-9 main-chart">
              <!--CUSTOM CHART START -->
              
              </div>
              <!--custom chart end-->
              <div class="row mt" style="background-color:white">
                <!-- SERVER STATUS PANELS -->
               
  
  
  
                      <div class="col-sm-12 col-xs-12">
  
  
  
  
  
  
                         <h1 style="position: relative;color:black">Stock</h1> 
                  
                 <button type="button" style="margin-left: 150px;" class="btn btn-secondary"><i class="fa fa-angle-left"></i> Janvier 2021</button>
  
                 <button type="button" style="margin-left: 1000px;" class="btn btn-round btn-info">Total : 5529842 FCFA</button>
  
                 
                  <div class="table-responsive">
                    
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th style="color:black">Produits</th>
                      
                          <th style="color:black">Quantité</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <tr>
                              <td>Ordinateur</td>
                              <td>30</td>
                          </tr>
                           <tr>
                              <td>stylo</td>
                              <td>30</td>
                          </tr>
                           <tr>
                              <td>cahier</td>
                              <td>30</td>
                          </tr>
                          <tr>
                              <td>Ordinateur</td>
                              <td>30</td>
                          </tr>
                           <tr>
                              <td>stylo</td>
                              <td>30</td>
                          </tr>
                           <tr>
                              <td>cahier</td>
                              <td>30</td>
                          </tr>
                      </tbody>
                  
                    </table>
                  </div>
                </main>
              </div>
            </div>
      
  
                      
                      </div>
                    </div>
                  </div>
                  <!-- /grey-panel -->
                </div>
                <!-- /col-md-4-->
                
                      </div>
                  </div>
                  <!--  /darkblue panel -->
                </div>
                <!-- /col-md-4 -->
               
                
                
                </div>
  
  
  
  
  
  
  
                    
    </script>
    {% endblock %}
  </body>
  
  </html>
  