{% extends "base.html" %}

{% load static %}
{% block content %}
    <section id="main-content">
      <section class="wrapper"style="background-color:white">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
            
            </div>
            <!--custom chart end-->
            <div class="row mt" style="background-color:white">
              <!-- SERVER STATUS PANELS -->
             



                    <div class="col-sm-6 col-xs-6">
                    
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>
              <!-- /col-md-4-->
              
                    </div>
                </div>
                <!--  /darkblue panel -->
              </div>
              <!-- /col-md-4 -->

              <div class="row">
              <div class="col-md-4 col-sm-4 mb">
                <!-- REVENUE PANEL -->
                <div class="darkblue-panel pn"style="height:130px;margin-top:7px;">
                  <div class="green-header">
                        <div class="row align-item-center" >

                           <div class="col-md-2">
                            <img class="img" src="{% static 'img/vent.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                     <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  Ventes   </p>
                           </div>

                      <div class="col-md-2">     
                   <button class="btn btn-turquoise" style="margin-left:180px;margin-top:25px;background-color: #00d2da;"> 725   </button>
                  <h5 style="margin-left:150px;margin-top:20px;">  1.520.0000   </h5>
                      </div>
                  </div>
                </div>
              </div>
          
            </div>
            <!-- /row -->
            
              <!-- WEATHER PANEL -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn"style="height:130px;margin-top:7px;">
                  
                  <div class="green-header">
                        <div class="row align-item-center" >

                           <div class="col-md-2">
                            <img class="img" src="{% static 'img/Depense.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                     <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  Dépenses  </p>
                           </div>

                      <div class="col-md-2">     
                  <button class="btn btn-turquoise" style="margin-left:180px;margin-top:25px;;background-color: #00d2da;"> 204   </button>
                  <h5 style="margin-left:150px;margin-top:20px;">  1.520.0000   </h5>
                      </div>
                  </div>
                </div>
              </div>
               
              </div>
              
                
               
            
              <!-- WEATHER PANEL -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn" style="height:130px;margin-top:7px;">

                 
                   <div class="green-header">
                        <div class="row align-item-center" >

                           <div class="col-md-2">
                            <img class="img" src="{% static 'img/perso.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                     <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  Clients   </p>
                           </div>

                      <div class="col-md-2">     
                  <button class="btn btn-turquoise" style="margin-left:180px;margin-top:55px;;background-color: #00d2da;"> 306   </button>
                  
                      </div>

                
                </div>
              
                </div>
              </div>
            </div>

          </div>  
          
          
          <div class="row">
          <div class="col-md-4 col-sm-4 mb">
            <!-- REVENUE PANEL -->
            <div class="darkblue-panel pn"style="height:130px;margin-top:10px;margin-left:0px;">
              <div class="green-header">
                <div class="green-header">
                    <div class="row align-item-center" >

                       <div class="col-md-2">
                        <img class="img" src="{% static 'img/fournisseur.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                 <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  Fournisseurs   </p>
                       </div>

                  <div class="col-md-2">     
              <button class="btn btn-turquoise" style="margin-left:180px;margin-top:25px;background-color: #00d2da;"> 354  </button>
              <h5 style="margin-left:150px;margin-top:20px;">  1.520.0000   </h5>
                  </div>
              </div>
            </div>
               
            </div>
             </div>
          
          <!-- /col-md-4 -->
        </div>
        <!-- /row -->
      
          <!-- WEATHER PANEL -->
          <div class="col-md-4 mb">
            <div class="darkblue-panel pn" style="height:130px;margin-top:10px;">
               <div class="green-header">
            
                    <div class="row align-item-center" >

                       <div class="col-md-2">
                        <img class="img" src="{% static 'img/vent.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                 <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  P.Clients   </p>
                       </div>

                  <div class="col-md-2">     
              <button class="btn btn-turquoise" style="margin-left:180px;margin-top:25px;background-color: #00d2da;"> 725   </button>
              <h5 style="margin-left:150px;margin-top:20px;">  1.520.0000   </h5>
                  </div>
              </div>
            </div>
            </div>
              
            
            </div>
          
          <!-- WEATHER PANEL -->
          <div class="col-md-4 mb">
            <div class="darkblue-panel pn" style="height:130px;margin-top:10px;">
              <div class="green-header">
                <div class="green-header">
                    <div class="row align-item-center" >

                       <div class="col-md-2">
                        <img class="img" src="{% static 'img/boutique.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                 <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  Boutiques   </p>
                       </div>

                  <div class="col-md-2">     
              <button class="btn btn-turquoise" style="margin-left:180px;margin-top:25px;background-color: #00d2da;"> 725   </button>
              <h5 style="margin-left:150px;margin-top:20px;">  1.520.0000   </h5>
                  </div>
              </div>
            </div>
            </div>
              
            </div>

          </div>
        </div>




            <div class="row">
              <div class="col-md-4 col-sm-4 mb">
                <!-- REVENUE PANEL -->
                <div class="darkblue-panel pn"style="height:130px;margin-top:7px;">
                  <div class="green-header">
                        <div class="row align-item-center" >

                           <div class="col-md-2">
                            <img class="img" src="{% static 'img/product.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                     <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  Product   </p>
                           </div>

                      <div class="col-md-2">     
                   <button class="btn btn-turquoise" style="margin-left:180px;margin-top:25px;background-color: #00d2da;"> 725   </button>
                  <h5 style="margin-left:150px;margin-top:20px;">  1.520.0000   </h5>
                      </div>
                  </div>
                </div>
              </div>
          
            </div>
            <!-- /row -->
            
              <!-- WEATHER PANEL -->
              
               
            
              <!-- WEATHER PANEL -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn" style="height:130px;margin-top:7px;">

                 
                   <div class="green-header">
                        <div class="row align-item-center" >

                           <div class="col-md-2">
                            <img class="img" src="{% static 'img/stock.png' %}" style="width:150%; height:40%;margin-right:250px;margin-top:20px;margin-left:40px;" >
                     <p style="color: #00d2da;margin-right:250px;margin-top:10px;margin-left:40px;">  stock   </p>
                           </div>

                      <div class="col-md-2">     
                  <button class="btn btn-turquoise" style="margin-left:180px;margin-top:55px;;background-color: #00d2da;"> 306   </button>
                  
                      </div>

                
                </div>
              
                </div>
              </div>
            </div>

          </div>  
          
           
          <div class="row">
            <!-- WEATHER PANEL -->
            <div class="col-md-4 mb">
              <div class="darkblue-panel pn" style="height:50px;margin-top:10px;">
                 <div class="green-header">
              
                      <div class="row align-item-center" >

                         <div class="col-md-2">
                  
                   <p style="color: #00d2da;margin-right:250px;margin-top:20px;margin-left:30px;">  CA:   </p>
                         </div>

                    <div class="col-md-2">     
               
                <h5 style="margin-left:90px;margin-top:20px;">  1.520.0000   </h5>
                    </div>
                </div>
              </div>
              </div>
                
              
              </div>
            </div>
            


            
            
            </div>

                    
    </script>
  
    {% endblock %}
  </body>
  
  </html>
  