{% extends "base.html" %}
{% load static %}
{% block content %}

    <section id="main-content">
        <section class="wrapper" style="background-color:white";>
          <div class="row">
            <div class="col-lg-9 main-chart">
              <!--CUSTOM CHART START -->
              
              </div>
              <!--custom chart end-->
              <div class="row mt" style="background-color:white">
                <!-- SERVER STATUS PANELS -->
               
  
  
  
                      <div class="col-sm-12 col-xs-12">
  
  
  
  
  
  
                         <h1 style="position: relative;color:black;">Prets</h1> 
                  
                 <button type="button" style="margin-left: 150px;" class="btn btn-secondary"><i class="fa fa-angle-left"></i> Janvier 2021</button>
  
                 <button type="button" style="margin-left: 950px;margin-bottom: 40px;" class="btn btn-round btn-info">Total : 55545245 FCFA</button>
  
                 
                  <div class="table-responsive">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th style="color:black">Clients </th>
                          <th style="color:black">Articles</th>
                          <th style="color:black">Montant</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        <tr>
                          <td>Fatou Diop</td>
                          <td>cahier</td>
                          <td>250</td>
                        </tr>
                        <tr>
                          <td>pape diop</td>
                          <td>cahier</td>
                          <td>250</td>
                        </tr>
                        <tr>
                          <td>Mansour Fall</td>
                          <td>stylo</td>
                          <td>100</td>
                        </tr>
                        <tr>
                          <td>Fatou Diop</td>
                          <td>cahier</td>
                          <td>250</td>
                        </tr>
                        <tr>
                          <td>pape diop</td>
                          <td>cahier</td>
                          <td>250</td>
                        </tr>
                        <tr>
                          <td>Mansour Fall</td>
                          <td>stylo</td>
                          <td>100</td>
                        </tr>
                      </tbody>
                  
                    </table>
                  </div>
                </main>
              </div>
            </div>
                      
                      </div>
                    </div>
                  </div>
                  <!-- /grey-panel -->
                </div>
                <!-- /col-md-4-->
                
                      </div>
                  </div>
                  <!--  /darkblue panel -->
                </div>
                <!-- /col-md-4 -->
               
                
                
                </div>
    </script>
    {% endblock %}
  </body>
  
  </html>
  