{% extends "base.html" %}

{% load static %}
{% block content %}



<!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->



    

    <section id="main-content" style="background-color: white;">
      <div class="col-sm-12 col-xs-12" style="background-color:white">

      <section class="wrapper" style="background-color:white";>
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
            
            </div>
            <!--custom chart end-->
            <div class="row mt col-sm-12 col-xs-12" style="background-color:white">
              <!-- SERVER STATUS PANELS -->
             


              <div class="col-sm-12 col-xs-12">
                    





                       <h1 style="position: relative;color:black;">Clients</h1> 
                
              
               
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th style="color:black">Noms</th>
                        <th style="color:black">Adresse</th>
                        <th style="color:black">Téléphone</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr>
                        <td>Mareme</td>
                        <td>Thies</td>
                        <td>775469087</td>
                      </tr>
                      <tr>
                        <td>Malick</td>
                        <td>Dakar</td>
                        <td>775980087</td>
                      </tr>
                      <tr>
                        <td>Bamba</td>
                        <td>Thies</td>
                        <td>775789087</td>
                      </tr>
                      <tr>
                        <td>Mareme</td>
                        <td>Thies</td>
                        <td>775469087</td>
                      </tr>
                      <tr>
                        <td>Malick</td>
                        <td>Dakar</td>
                        <td>775980087</td>
                      </tr>
                      <tr>
                        <td>Bamba</td>
                        <td>Thies</td>
                        <td>775789087</td>
                      </tr>
                    </tbody>
                
                  </table>
                </div>
              </main>
            </div>
          </div>
    

                    
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>
              <!-- /col-md-4-->
              
                    </div>
                </div>
                <!--  /darkblue panel -->
              </div>
              <!-- /col-md-4 -->
             
              
              
              </div>







                  
  </script>
  {% endblock %}
</body>

</html>
